body {
  background: url(/images/bg-intro-desktop.png);
}

@media (min-width: 780px) {
  body {
    background: url(/images/bg-intro-mobile.png);
  }
}

.error-icon, .error-text {
  display: none;
}

.field-group {
  position: relative;
}

.error-icon {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 18px;
}

.error-text {
  text-align: right;
  font-size: 11px;
  margin-top: 3px;
  color: hsl(0, 100%, 74%);
  font-style: italic;
  font-weight: 500;
}

.field-group.error .error-text,
.field-group.error .error-icon {
  display: block;
}

.field-group.error input {
  border: 1px solid hsl(0, 100%, 74%);
}